<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password - TimeWise</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <header>
    <div id="logo">
      <img src="/images/TimeWise-logo.jpg" alt="TimeWise Logo" width="200" height="auto">
    </div>
    
<!-- Navigation buttons -->
    <ul id="navigation-buttons" class="navigation-buttons">
      <li><a href="/">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="dashboard.html">Dashboard</a></li>
      <li><a href="profile.html">Profile</a></li>
      <li><button id="logout-button">Log Out</button></li>
    </ul>
  </header>
  
  <main>
    <div id="form-container">
      <form id="resetpassword-form">
        <h2>Reset Password</h2>
        <div class="form-group">
          <label for="reset-email">Email Address</label>
          <input type="email" id="reset-email" name="email" required aria-required="true" placeholder="Enter your email">
        </div>
        <div class="form-group">
          <button type="submit">Reset Password</button>
        </div>
        <p>Remember your password? <a href="login.html">Login here</a></p>
      </form>
    </div>
  </main>

  <footer id="footer">
   <div>
    <p>&copy; 2024 TimeWise. All rights reserved.</p>
   </div>
  </footer>
  
  <script src="/script.js"></script>
</body>
</html>
